<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Alright?</h1>
      <h4 class="subheader">S'up Bro ya like Coding?</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/profiler.jpg" />
      <p>Hallo, ich bin Andrew. I like writing code, playing video games, listening to music and learning german. I also talk too much about everything so be warned.</p>
      <p>I am currently studing Computing with Software Development at TU Dublin Tallaght Campus. Nearly finished my second year and looking forward to my third.</p>
    </div>
  </main>
</body>
</html>
