<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1>Here's where you can stalk me.... ya weirdo.</h1>
    </div>
    <div class="content">
      <a class="contact-icon-link" href="https://www.linkedin.com/in/andrew-teeters-339a10159/" target="_blank">
         <i class="contact-icon fa fa-linkedin-square"></i>
      </a>
      <a class="contact-icon-link" href="https://github.com/Teetertots9" target="_blank">
        <i class="contact-icon fa fa-github-square"></i>
      </a>
      <a class="contact-icon-link" href="https://www.facebook.com/andreweugine.teeters" target="_blank">
        <i class="contact-icon fa fa-facebook-square"></i>
      </a>
    </div>
  </main>
</body>
</html>