<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
      
    </div>
    <div class="container">
      <div class="code-container">
        <a href="#"><img src="images/Tattoo_saloon.png"/></a>
        <div>
          <h3>Tattoo Saloon</h3>
          <p>A Tattoo appointment booking site I'm making for my Year 2 Project. It's both fun and FRUSTRATING to make, mostly fun though.</p>
      </div>
    </div>
    <div class="code-container">
      <a href="https://stormy-mountain-75651.herokuapp.com/"><img src="images/jinkies.jpg"/></a>
      <div>
        <h3>Jinkies</h3>
        <p>When learning Heroku the sample site I got had some stale memes so I can to cleanse it of it's filth and make it danker.</p>
      </div>
    </div>
    <div class="code-container">
      <a href="#"><img src="images/Ca1sdev4.png"/></a>
      <div>
        <h3>SDEV4CA1</h3>
        <p>A managment website that I created with a class mate as an assignment, quite happy we finished it but not so happy with the fact that I could have done more than I actually did.</p>
      </div>
    </div>
    </div>
  </main>
</body>
</html>
